@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
* {padding: 0px; margin: 0px;}

html, body {
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;
  font-family: 'Noto Sans KR', sans-serif;
}
header {
	height: 8%;
	background-color: white;
	box-shadow: 0px 0px 20px #D5D8E0;
}
header:after{display:inline-block; height:100%; content:""; vertical-align:middle;}

header img {
	height: 25%;
	vertical-align:middle;
	margin-left: 19.5%;
}

header span {
	vertical-align:middle;
	font-size: 0.9em;
	font-weight: bold;
	color: #393939;
}

.main {
	position:relative;
	width: 100%;
	height: 100%;
	float: left;
}

.main img {
	width: 100%;
	height: 100%;
}

.title {
	position:absolute;
	width: 50%;
	height: auto;
	top:25%;
	left:50%;
	margin-left: -25%;
}

.title p {
	font-size: 2.3em;
	color: white;
	font-family: 'Noto Sans KR', sans-serif;
}

.title hr {
	border-top: 0px;
	width: 3%;
	height: 2px;
	background-color: white;
	margin-top: 4%;
}

.title .apply {
	width: 26%;
	height: 50px;
	border: solid 3px white;
	border-radius: 100px;
	margin-top: 4.5%;
}

.title .apply span {
	font-size: 1.2em;
	line-height: 47px;
	color: white;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}