@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
* {padding: 0px; margin: 0px;}
	
	body {
	    margin: 0;
	    font-family: 'Noto Sans';
	}

    html, body {
        width: 100%;
        height: 100%;
      }
	header {
		height: 8%;
		background-color: white;
		box-shadow: 0px 0px 20px #D5D8E0;
	}
	header:after{display:inline-block; height:100%; content:""; vertical-align:middle;}
	header img {
		height: 25%;
		vertical-align:middle;
		margin-left: 19.5%;
		margin-right: 40%;
	}

	header span {
		vertical-align:middle;
		font-size: 0.85em;
		font-weight: bold;
		color: #393939;
		font-family: 'Noto Sans KR', sans-serif;
	}

	.title {
		margin: 0 auto;
		margin-top: 5%;
		width: 61%;
		height: 100%;
		position:relative;
	}

	.title p {
		font-family: 'Noto Sans KR', sans-serif;
	}

	.title #제목 {
		font-weight: bold;
		font-size: 2.5em;
		margin-bottom: 1%;
	}
	.title #부제목 {
		font-size: 1.5em;
	}

	hr {
		border-bottom: 0px;
		border-top: 0px;
		background-color: #FF6384;
		height: 1.5px;
		margin-top: 1.5%;
	}

	.title .season {
		width: 100%;
		margin-bottom: 1%;
	}

	.title .season span {
		color: black;
		font-size: 0.8em;
		margin-left: 1%;
		margin-top: 4%;
		display:inline-block;
	}

	.title .member1 {
		float: left;
		width: 32.3%;
		height: 55%;
		margin-right: 1.5%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member1 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member1 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member1 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}


	.title .member2 {
		float: left;
		width: 32.3%;
		height: 55%;
		margin-right: 1.5%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member2 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member2 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member2 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}

	.title .member3 {
		float: left;
		width: 32.3%;
		height: 55%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member3 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member3 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member3 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}





	.title .member4 {
		float: left;
		width: 32.3%;
		height: 55%;
		margin-right: 1.5%;
		margin-top: 3%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member4 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member4 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member4 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}


	.title .member5 {
		float: left;
		width: 32.3%;
		height: 55%;
		margin-right: 1.5%;
		margin-top: 3%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member5 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member5 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member5 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}

	.title .member6 {
		float: left;
		width: 32.3%;
		height: 55%;
		margin-top: 3%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member6 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member6 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member6 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}

	.title #hakgwa {
		margin-top: 5%;
		font-size: 0.9em;
		color: #FF6384;
	}
	.title #name {
		margin-top: 1%;
		font-size: 1.6em;
	}

@media all and (min-width:768px) and (max-width:1080px) {
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
* {padding: 0px; margin: 0px;}
	
	body {
	    margin: 0;
	    font-family: 'Noto Sans';
	}

    html, body {
        width: 100%;
        height: 100%;
      }
	header {
		height: 5%;
		background-color: white;
		box-shadow: 0px 0px 20px #D5D8E0;
	}
	header:after{display:inline-block; height:100%; content:""; vertical-align:middle;}
	header img {
		height: 30%;
		vertical-align:middle;
		margin-left: 10%;
		margin-right: 15%;
	}

	header span {
		vertical-align:middle;
		font-size: 2em;
		font-weight: bold;
		color: #393939;
		font-family: 'Noto Sans KR', sans-serif;
	}

	.title {
		margin: 0 auto;
		margin-top: 10%;
		width: 80%;
		height: 100%;
		position:relative;
	}

	.title p {
		font-family: 'Noto Sans KR', sans-serif;
	}

	.title #제목 {
		font-weight: bold;
		font-size: 4em;
		margin-bottom: 1%;
	}
	.title #부제목 {
		font-size: 2.5em;
	}

	hr {
		border-bottom: 0px;
		border-top: 0px;
		background-color: #FF6384;
		height: 1.5px;
		margin-top: 7%;
	}

	.title .season {
		width: 100%;
		margin-bottom: 3%;
	}

	.title .season span {
		color: black;
		font-size: 2em;
		margin-left: 1%;
		margin-top: 8%;
		display:inline-block;
	}

	.title .member1 {
		float: left;
		width: 32.3%;
		height: 25%;
		margin-right: 1.5%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member1 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member1 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member1 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}

	.title .member2 {
		float: left;
		width: 32.3%;
		height: 25%;
		margin-right: 1.5%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member2 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member2 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member2 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}

	.title .member3 {
		float: left;
		width: 32.3%;
		height: 25%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member3 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member3 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member3 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}





	.title .member4 {
		float: left;
		width: 32.3%;
		height: 25%;
		margin-right: 1.5%;
		margin-top: 3%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member4 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member4 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member4 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}


	.title .member5 {
		float: left;
		width: 32.3%;
		height: 25%;
		margin-right: 1.5%;
		margin-top: 3%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member5 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member5 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member5 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}

	.title .member6 {
		float: left;
		width: 32.3%;
		height: 25%;
		margin-top: 3%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .member6 img {
		width: 100%;
		border-radius: 20px 20px 0px 0px;
	}

	.title .member6 .name {
		width: 100%;
		height: 100%;
		text-align: center;
		border-radius: 0px 0px 20px 20px;
	}

	.title .member6 .name p {
		font-family: 'Noto Sans KR', sans-serif;
		font-weight: bold;
		color: black;
	}

	.title #hakgwa {
		margin-top: 10%;
		font-size: 1.2em;
		color: #FF6384;
	}
	.title #name {
		margin-top: 2%;
		font-size: 2.5em;
	}
}
