@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
* {padding: 0px; margin: 0px;}

html, body {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  height: 8%;
  background-color: white;
  box-shadow: 0px 0px 20px #D5D8E0;
}

header:after{display:inline-block; height:100%; content:""; vertical-align:middle;}
header img {
  height: 25%;
  vertical-align:middle;
  margin-left: 19.5%;
  margin-right: 40%;
}

header span {
  vertical-align:middle;
  font-size: 0.85em;
  font-weight: bold;
  color: #393939;
}
button{
  background-color: #ffffff;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
  border: 2px solid #afafaf;

  font-weight: bold;
  font-size: 11pt;
  color: #393939;
  letter-spacing: 0.25mm;

  position: relative;
  top:30%; left:73%;
}

table {
  text-align: center;
  position: relative;
  border: none;
  width: 50%;
  border-collapse:collapse;
}

th{
  padding: 6px;
}

#no{
  width: 1%; 
  color:#FF6384;
}

#head{
  width: 30%;
  color:#ffffff;
}

td {
  color:#5D5D5D;
  padding: 10px;
}

hr {
  width: 5%;
  height: 1px;
  background-color: #230A3F;
}

.box{
  width: 50%;
  text-align: center;
  position: relative;
}

.margin{
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
}

.title{
  font-weight: 700;
  font-size: 28pt;
  line-height: 25mm;
}

.content{
  font-weight: 500;  
  font-size: 15pt;
  color: #494949;
  line-height: 10mm;
}

#line{
  border-bottom: 1px solid #f8b7c5;
}

tr span{
  color:#FF6384;
  font-size: 17pt;
  font-style: italic;
  font-weight: 700;
}

/* mobile reactive web */
@media all and (min-width:768px) and (max-width:1080px) {
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
  * {padding: 0px; margin: 0px;}

  html, body {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    font-family: 'Noto Sans KR', sans-serif;
  }

  header {
    height: 5%;
    background-color: white;
    box-shadow: 0px 0px 20px #D5D8E0;
  }

  header:after{display:inline-block; height:100%; content:""; vertical-align:middle;}
  header img {
		height: 30%;
    vertical-align:middle;
		margin-left: 10%;
		margin-right: 20%;
  }

  header span {
    vertical-align:middle;
    font-size: 2em;
    font-weight: bold;
    color: #393939;
  }

  button{
    background-color: #ffffff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    border: 2px solid #afafaf;

    font-weight: bold;
    font-size: 11pt;
    color: #393939;
    letter-spacing: 0.25mm;

    position: relative;
    top:30%; left:73%;
  }

  table {
    text-align: center;
    position: relative;
    border: none;
    width: 70%;
    border-collapse:collapse;
    margin-top: 5%;
  }

  th{
    padding: 6px;
  }

  #no{
    width: 1%; 
    color:#FF6384;
  }

  #head{
    width: 30%;
    color:#ffffff;
  }

  td {
    color:#5D5D5D;
    padding: 10px;
  }

  hr {
    width: 20%;
    height: 1px;
    background-color: #230A3F;
    margin-bottom: 10%;
  }

  .box{
    width: 100%;
    text-align: center;
    position: relative;
  }

  .margin{
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .title{
    margin-top: 30%;
    margin-bottom: 20%;
    font-weight: 700;
    font-size: 6em;
    line-height: 25mm;
  }

  .content{
    font-weight: 500;  
    font-size: 2em;
    color: #494949;
    line-height: 10mm;
  }

  #line{
    border-bottom: 1px solid #f8b7c5;
    font-size: 2.5em;
  }

  tr span{
    color:#FF6384;
    font-size: 17pt;
    font-style: italic;
    font-weight: 700;
  }
}