@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
* {padding: 0px; margin: 0px;}
	
	body {
	    margin: 0;
	    font-family: 'Noto Sans';
	}

    html, body {
        width: 100%;
        height: 100%;
      }
	header {
		height: 8%;
		background-color: white;
		box-shadow: 0px 0px 20px #D5D8E0;
	}
	header:after{display:inline-block; height:100%; content:""; vertical-align:middle;}
	header img {
		height: 25%;
		vertical-align:middle;
		margin-left: 19.5%;
	}

	header span {
		vertical-align:middle;
		font-size: 0.85em;
		font-weight: bold;
		color: #393939;
		font-family: 'Noto Sans KR', sans-serif;
	}

	.title {
		margin: 0 auto;
		margin-top: 5%;
		width: 61%;
		height: 100%;
		position:relative;
	}

	.title p {
		font-family: 'Noto Sans KR', sans-serif;
	}

	hr {
		border-bottom: 0px;
		border-top: 0px;
		background-color: #FF6384;
		height: 2px;
		margin-top: 1.5%;
	}

	.title .applicant_list {
		float: left;
		width: 100%;
		height: 100%;
		margin-top: 3%;
	}

	.title .applicant_list .applicant{
		float: left;
		width: 32.3%;
		height: 100%;
		margin-right: 1.5%;
		border-radius: 20px 20px 20px 20px;
		box-shadow: 0px 0px 20px #D5D8E0;
	}

	.title .applicant #hakbun {
		display:inline-block;
		font-weight: bold;
		font-size: 1.7em;
		margin-left: 10%;
		margin-top: 12%;
		font-family: 'Noto Sans KR', sans-serif;
	}

	.title .applicant #name {
		color: black;
		display:inline-block;
		font-weight: bold;
		font-size: 1.7em;
		margin-top: 12%;
		font-family: 'Noto Sans KR', sans-serif;
	}

	.title .applicant #phone {
		color: black;
		font-weight: bold;
		font-size: 1.2em;
		margin-left: 10%;
		margin-top: 2%;
		font-family: 'Noto Sans KR', sans-serif;
	}

	.title .applicant #fiveme {
		color: #FF6384;
		font-size: 1em;
		margin-left: 10%;
		margin-top: 2%;
		font-family: 'Noto Sans KR', sans-serif;
	}

	.title .applicant hr {
		width: 13%;
		border-bottom: 0px;
		border-top: 0px;
		background-color: black;
		height: 1.5px;
		margin-left: 10%;
		margin-top: 7%;
		margin-bottom: 7%;
	}

	.title .applicant #because {
		height: 100%;
		width: 80%;
		border:none;
		overflow-y:hidden;
		resize: none;
		color: black;
		font-size: 1em;
		margin-left: 10%;
		margin-right: 10%;
		font-family: 'Noto Sans KR', sans-serif;
	}
